<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ibdsr.web.common.persistence.dao.FileUploadLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ibdsr.web.common.persistence.model.FileUploadLog">
        <id column="id" property="id"/>
        <result column="file_suffix" property="fileSuffix"/>
        <result column="file_type" property="fileType"/>
        <result column="file_name" property="fileName"/>
        <result column="file_size" property="fileSize"/>
        <result column="account" property="account"/>
        <result column="account_id" property="accountId"/>
        <result column="path" property="path"/>
        <result column="platform_type" property="platformType"/>
        <result column="createtime" property="createtime"/>
        <result column="description" property="description"/>
    </resultMap>

</mapper>
