<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ibdsr.web.common.persistence.dao.GoodsEvaluateMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.ibdsr.web.common.persistence.model.GoodsEvaluate">
		<id column="id" property="id" />
		<result column="order_goods_id" property="orderGoodsId" />
		<result column="order_id" property="orderId" />
		<result column="goods_id" property="goodsId" />
		<result column="user_id" property="userId" />
		<result column="shop_id" property="shopId" />
		<result column="content" property="content" />
		<result column="goods_score" property="goodsScore" />
		<result column="service_score" property="serviceScore" />
		<result column="express_score" property="expressScore" />
		<result column="type" property="type" />
		<result column="imgs" property="imgs" />
		<result column="shop_reply" property="shopReply" />
		<result column="reply_time" property="replyTime" />
		<result column="created_user" property="createdUser" />
		<result column="created_time" property="createdTime" />
		<result column="modified_user" property="modifiedUser" />
		<result column="modified_time" property="modifiedTime" />
		<result column="is_deleted" property="isDeleted" />
	</resultMap>

</mapper>
